{% extends 'AkonoSiteBundle::layout.html.twig' %}

{% block body %}
    <div class="page-headline">Portfolio</div>
    <div id="main">
        <div id="porfolio-content">
            {% set i = 0 %}
            {% for slide in slides %}
                <div class="portfolio-item {% if(i % 3 == 0) %}first{% endif %}">
                    <a href="{{ path('akono_site_portfolio') }}/{{ slide.id }}"><img width="280" height="190" src="images/{{ slide.image }}" alt="{{ slide.title }}" /></a>
                </div>
                <!--end portfolio-item-->
                {% set i = i + 1 %}
            {% endfor %}

        </div>
        <!--portfolio-content-->
    </div>
    <!--end main-->
{% endblock %}