{% extends 'AkonoSiteBundle::layout.html.twig' %}

{% block body %}
    <div class="page-headline">Portfolio</div>
    <div id="main">
        <div id="porfolio-content">
            <div class="portfolio-item first"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item first"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item first"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
            <div class="portfolio-item"> <a href="#"><img width="280" height="190" src="images/280x190.gif" alt="" /></a> </div>
            <!--end portfolio-item-->
        </div>
        <!--portfolio-content-->
    </div>
    <!--end main-->
{% endblock %}